body {
  font-family: "helvetica Neue", "helvetica", "arial", sans-serif;
  margin: auto;
  line-height: 2em;
  color: #555555;
  background-color: white;
  font-size: 16px;
}

.truffle {
  background-color: #F5F2F2;
}

.container {
  padding: 30px;
  max-width: 900px;
}

.row {
  margin-bottom: 90px;
}

.contact a {
  margin-right: 30px;
}

img {
  width: 100%;
}

h2 {
  line-height: 1.3em;
}

h3 {
  margin-top: -20px;
}

.project-title {
  z-index: 1;
}

.project {
  margin-bottom: 120px;
}

.project-img {
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-title:after {
  content: "";
  margin: 30px 0;
  width: 90px;
  height: 2px;
  opacity: 0.6;
  background: #555555;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a {
  color: #333333;
  font-weight: bold;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:visited {
  color: #333333;
}

a:hover {
  color: #3708F9;
}
a:hover .main-title:after {
  width: 120px;
  background-color: #3708F9;
}
.label {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.btn {
  padding: 12px 24px;
  border: 2px solid #555555;
  text-align: center;
}

.btn:hover {
  border: 2px solid #3708F9;
}

.center-align {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .project-img {
    z-index: 0;
    margin-top: -30px;
    opacity: 1;
  }
}
p {
  margin-bottom: 60px;
}

.vertical-space {
  display: block;
  height: 120px;
}

a.previous,
a.next {
  font-size: 10px;
  font-weight: 400;
}

.previous {
  float: left;
  text-align: left;
}

.previous:after {
  content: "";
  display: block;
  background-image: url("../assets/arrow-left.svg");
  width: 18px;
  height: 18px;
  margin-top: 6px;
  margin-left: 12px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: left;
}

.previous:hover:after {
  margin-left: -1px;
  opacity: 1;
}

.next {
  float: right;
  text-align: right;
}

.next:after {
  content: "";
  display: block;
  background-image: url("../assets/arrow-right.svg");
  width: 18px;
  height: 18px;
  margin-top: 6px;
  margin-right: 12px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
}

.next:hover:after {
  margin-right: -1px;
  opacity: 1;
}

#video iframe {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.logo-container img {
  margin-bottom: 90px;
}

.logo {
  width: 90px;
  margin: 90px auto 0px auto;
  display: block;
}

.bottom-0 {
  margin-bottom: 0 !important;
}

/*# sourceMappingURL=style.css.map */
